<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="./tailwind.js"></script> -->
    <link rel="stylesheet" th:href="@{./css/drinkSelection_orderInfo.css}">
</head>

<body>

    <div class="M-drink-selection">
        <section class="M-sec-left">
            <div id="category">
                <div class="M-category-button">
                    <div>Category</div>
                    <button onclick="viewAllCategory(this)">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
                        </svg>
                    </button>
                </div>


                <!-- get category -->
                <div class="M-categoryList-wrapper">
                    <div id="categoryList">
                            <form action="#" th:action="@{/drink-selection-order-info}" method="get" th:each="category : ${categoryList}">
                                <input type="hidden" name="id" th:value="${category.id}">
                                <button type="submit" class="M-category-name" >
                                    <Strong th:text="${category.name}"></Strong>
                                </button>
                            </form>
                    </div>
                </div>

            </div>
            <hr>

            <!-- get drink belong to the selected category -->
            <div id="category-data">
                <div>
                    <div class="M-drink-data" th:each="drink : ${drinkList}">
                        <div>
                            <div class="M-drink-data-img-wrapper">
                                <img th:src="@{/}+${drink.imagePath}" draggable="false">
                            </div>
                            <hr width="100%">
                            <p th:text="${drink.name}">
                                drink name
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="M-sec-right">
            <Strong>Order Information</Strong>

            <!-- order -->
            <ul class="M-orderInfo">
                <li th:each="order : ${orderDetails}">
                    <div th:text="${order.id}">1</div>
                    <div th:text="${order.getDrink().getName()}">drink name</div>
                    <div th:text="${order.getDrinkSize().getSize()}">size</div>
                    <div>
                        <input type="number" min="1" th:value="${order.getQuantity()}">
                    </div>
                    <div th:text="${order.getSubtotal()}">price</div>
                    <div>
                        <div>
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" style="height: 1.25rem;">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                </svg>
                            </button>

                        </div>
                        <div>
                            <button>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" style="height: 1.25rem;">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </li>

            </ul>
        </section>
        <script>
            const CategoryList = document.getElementById("categoryList");
            let isToggle = false;
            function viewAllCategory(node) {
                if (isToggle) {
                    CategoryList.classList.remove("M-classList-toggle");
                    node.classList.remove("M-rotate-ctg-up");
                    node.classList.add("M-rotate-ctg-down");
                } else {
                    CategoryList.classList.add("M-classList-toggle");
                    node.classList.add("M-rotate-ctg-up");

                    if (node.classList.contains("M-rotate-ctg-down")) {
                        node.classList.remove("M-rotate-ctg-down");
                    }
                }
                isToggle = !isToggle;
            }
        </script>
</body>

</html>