<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/eighth.css">
    <link href="https://use.fontawesome.com/releases/v6.2.1/css/all.css" rel="stylesheet">
    <style>
        #vc-activity-management {
            border-bottom: 1px solid black;
            padding: 5px 10px;
        }

        .vc-activity-btn {
            border: none;
            border-right: 1px solid black;
            background-color: white;
            padding: 0 10px;
        }

        .vc-activity-btn:last-child {
            border-right: none;
        }

        #vc-content-container {
            display: flex;
        }

        #vc-left {
            width: 50%;
            border-right: 1px solid black;
        }

        #vc-information-tab {
            border-bottom: 1px solid black;
            padding-left: 30px;
            background-color: rgb(200, 200, 200);
        }

        #vc-cashier-btn, 
        #vc-drink-btn, 
        #vc-food-btn {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 70px;
            border-bottom: none;
            padding: 3px 0;
        } 

        #vc-cashier, 
        #vc-drink,
        #vc-food {
            width: 98%; 
            margin: auto;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th {
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: left;
            background-color: #dae3f3;
        }

        th:last-child,
        td:last-child {
            width: 50px;
            text-align: center;
        }




        /* with javascript */
        /* 
        #vc-cashier-btn {
            background-color: white;
        }

        #vc-drink-table {
            display: none;
        }

        #vc-food-table {
            display: none;
        }

        #vc-drink-information {
            display: none;
        }

        #vc-food-information {
            display: none;
        } */
    </style>
</head>

<body style="border: 1px solid black;">
    <div id="vc-container">
        <div id="vc-activity-management">
            <button class="vc-activity-btn">New Cashier</button>
            <button class="vc-activity-btn">New Drink</button>
            <button class="vc-activity-btn">New Food</button>
            <button class="vc-activity-btn">New Category</button>
            <button class="vc-activity-btn">Order history</button>
            <button class="vc-activity-btn">Manage Table</button>
        </div>

        <div id="vc-content-container">
            <!-- ////////////////////////// -->
            <!--       left side            -->
            <!-- ////////////////////////// -->
            <div id="vc-left">
                <div id="vc-information-tab">
                    <button id="vc-cashier-btn">Cashiers</button>
                    <button id="vc-drink-btn">Drinks</button>
                    <button id="vc-food-btn">Food</button>
                </div>

                <!-- ////////////////////////// -->
                <!--        Cashier             -->
                <!-- ////////////////////////// -->

                <table id="vc-cashier">
                    <tr>
                        <th></th>
                        <th class="vc-cashier-name">Cashier Name</th>
                        <th class="vc-cashier-login">Login</th>
                        <th class="vc-cashier-action">Action</th>
                    </tr>
                    

                    <tr>
                        <td>1</td>
                        <td>XYZ abc</td>
                        <td>xyz_abc</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pencil"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>SOK Chhorn</td>
                        <td>chhorn</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pencil"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </td>
                    </tr>
                </table>


                <!-- ////////////////////////// -->
                <!--        drink            -->
                <!-- ////////////////////////// -->

                <table id="vc-drink">
                    <tr>
                        <th></th>
                        <th>Drink code</th>
                        <th>Drink Name</th>
                        <th>Price ($)</th>
                        <th>Action</th>
                    </tr>
                    
                    <tr>
                        <td>1</td>
                        <td>DH001</td>
                        <td>Espresso</td>
                        <td>2.1</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pencil"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>DH002</td>
                        <td>Iced Americano</td>
                        <td>2.3</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pencil"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </td>
                    </tr>
                </table>

                <!-- ////////////////////////// -->
                <!--        Food             -->
                <!-- ////////////////////////// -->

                <table id="vc-food">
                    <tr>
                        <th></th>
                        <th>Food code</th>
                        <th>Food Name</th>
                        <th>Price ($)</th>
                        <th>Action</th>
                    </tr>
                   
                    
                    <tr>
                        <td>1</td>
                        <td>DF001</td>
                        <td>French Fries</td>
                        <td>1.5</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pencil"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>DF002</td>
                        <td>Sandwich</td>
                        <td>1.8</td>
                        <td>
                            <i class="fa-sharp fa-solid fa-pencil"></i>
                            <i class="fa-solid fa-trash-can"></i>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- ////////////////////////// -->
            <!--       Right side           -->
            <!-- ////////////////////////// -->
            <div id="vc-right">
                <!-- ////////////////////////// -->
                <!--        Cashier             -->
                <!-- ////////////////////////// -->
                <div id="vc-cashier-information">
                    <div class="vc-cashier-information">Cashier information</div>
                    <div>
                        <div>
                            <div style="border: 1px solid black; width: 200px; height: 300px;">
                                <!-- image -->
                            </div>
                            <div style="border: 1px solid black; width: 200px; height: 60px;">
                                some info
                            </div>
                        </div>
                        <div class="vc-information">
                            <div class="vc-information-attribute">
                                <div>Code</div>
                                <div>Name</div>
                                <div>Category</div>
                                <div>Price</div>
                                <div>Orders</div>
                            </div>
                            <div class="vc-information-value">
                                <div>XYZ Abc</div>
                                <div>Male</div>
                                <div>19</div>
                                <div>03/01/2018</div>
                                <div>99 orders</div>

                                <div>xyz_abc</div>
                                <div>*********</div>
                                <div>30/09/2018</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ////////////////////////// -->
                <!--        drinks             -->
                <!-- ////////////////////////// -->
                <div id="vc-drink-information">
                    <div class="vc-drink-information">Drink information</div>
                    <div>
                        <div>
                            <div style="border: 1px solid black; width: 200px; height: 300px;">
                                <!-- image -->
                            </div>
                            <div style="border: 1px solid black; width: 200px; height: 60px;">
                                some info
                            </div>
                        </div>
                        <div class="vc-information">
                            <div class="vc-information-attribute">
                                <div>Code</div>
                                <div>Name</div>
                                <div>Category</div>
                                <div>Price</div>
                                <div>Orders</div>

                                <div>Note</div>
                            </div>
                            <div class="vc-information-value">
                                <div>DH001</div>
                                <div>Espresso</div>
                                <div>Hot Drinks</div>
                                <div>2.1 $</div>
                                <div>99 times</div>

                                <div>Good for person who likes High coffee compression and for up the whole night.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ////////////////////////// -->
                <!--        food                -->
                <!-- ////////////////////////// -->
                <div id="vc-food-information">
                    <div class="vc-food-information">Food information</div>
                    <div>
                        <div>
                            <div style="border: 1px solid black; width: 200px; height: 300px;">
                                <!-- image -->
                            </div>
                            <div style="border: 1px solid black; width: 200px; height: 60px;">
                                some info
                            </div>
                        </div>
                        <div class="vc-information">
                            <div class="vc-information-attribute">
                                <div>Code</div>
                                <div>Name</div>
                                <div>Category</div>
                                <div>Price</div>
                                <div>Orders</div>
                            </div>
                            <div class="vc-information-value">
                                <div>DF001</div>
                                <div>French Fries</div>
                                <div>Foods</div>
                                <div>1.5 $</div>
                                <div>99 times</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    
    <!-- <script src="eighth.js"></script>     -->
    <script>
        let cashierBtn = document.getElementById("vc-cashier-btn");
        let drinkBtn = document.getElementById("vc-drink-btn");
        let foodBtn = document.getElementById("vc-food-btn");

        let cashier = document.getElementById("vc-cashier");
        let drink = document.getElementById("vc-drink");
        let food = document.getElementById("vc-food");

        let cashierInformation = document.getElementById("vc-cashier-information");
        let drinkInformation = document.getElementById("vc-drink-information");
        let foodInformation = document.getElementById("vc-food-information");


        cashierBtn.style.backgroundColor = "white";
        drink.style.display = "none";
        food.style.display = "none";
        drinkInformation.style.display = "none";
        foodInformation.style.display = "none";

        cashierBtn?.addEventListener("click", () => {
            cashierBtn.style.backgroundColor = "white";
            drinkBtn.style.backgroundColor = "inherit";
            foodBtn.style.backgroundColor = "inherit";

            cashier.style.display = "revert";
            drink.style.display = "none";
            food.style.display = "none";

            cashierInformation.style.display = "revert";
            drinkInformation.style.display = "none";
            foodInformation.style.display = "none";
        });

        drinkBtn?.addEventListener("click", () => {
            cashierBtn.style.backgroundColor = "inherit";
            drinkBtn.style.backgroundColor = "white";
            foodBtn.style.backgroundColor = "inherit";

            cashier.style.display = "none";
            drink.style.display = "revert";
            food.style.display = "none";

            cashierInformation.style.display = "none";
            drinkInformation.style.display = "revert";
            foodInformation.style.display = "none";
        });

        foodBtn?.addEventListener("click", () => {
            cashierBtn.style.backgroundColor = "inherit";
            drinkBtn.style.backgroundColor = "inherit";
            foodBtn.style.backgroundColor = "white";

            cashier.style.display = "none";
            drink.style.display = "none";
            food.style.display = "revert";

            cashierInformation.style.display = "none";
            drinkInformation.style.display = "none";
            foodInformation.style.display = "revert";
        });


    </script>
</body>

</html>